<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']">
          <i class="icon-speedometer"></i> Dashboard
          <span class="badge badge-info">NEW</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
