<!--Breadcrumb-->
<ol class="breadcrumb">
  <li class="breadcrumb-item active">
    <a [routerLink]="['/dashboard']">Dashboard</a>
    <span [routerLink]="['/dashboard']">/ Dashboard -> (UNDER CONSTRUCTION)</span>
  </li>
  <!--<ng-template ngFor let-breadcrumb [ngForOf]="breadcrumbs" let-last=l ast>-->
  <!--<li class="breadcrumb-item" *ngIf="breadcrumb.label.title && breadcrumb.url.substring(breadcrumb.url.length-1) == '/' || breadcrumb.label.title&&last"-->
  <!--[ngClass]="{active: last}">-->
  <!--<a *ngIf="!last" [routerLink]="breadcrumb.url">{{breadcrumb.label.title}}</a>-->
  <!--<span *ngIf="last" [routerLink]="breadcrumb.url">{{<br>eadcrumb.label.title}}</span>-->
  <!--</li>-->
  <!--</ng-template>-->
</ol>

